/*----Loader-----*/
@keyframes loader-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader {
  0% {
    width: 80px;
    height: 80px;
  }
  12% {
    width: 150px;
    height: 150px;
  }
  25% {
    width: 80px;
    height: 80px;
    transform: rotate(135deg);
  }
  37% {
    width: 150px;
    height: 150px;
  }
  50% {
    width: 80px;
    height: 80px;
    transform: rotate(225deg);
  }
  62% {
    width: 150px;
    height: 150px;
  }
  75% {
    width: 80px;
    height: 80px;
    transform: rotate(315deg);
  }
  87% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 80px;
    height: 80px;
    transform: rotate(395deg);
  }
}
@keyframes B1 {
  12% {
    border-radius: 50%;
  }
  24% {
    background: #f6f6f6;
  }
  25% {
    transform: rotate(90deg);
    background: #99E2D0;
    border-radius: 0;
  }
  37% {
    border-radius: 50%;
  }
  49% {
    background: #99E2D0;
  }
  50% {
    transform: rotate(180deg);
    background: #9356DC;
    border-radius: 0;
  }
  62% {
    border-radius: 50%;
  }
  74% {
    background: #9356DC;
  }
  75% {
    transform: rotate(270deg);
    background-color: #FF79DA;
    border-radius: 0;
  }
  87% {
    border-radius: 50%;
  }
  99% {
    background: #FF79DA;
  }
  100% {
    transform: rotate(360deg);
    background-color: #f6f6f6;
    border-radius: 0;
  }
}
@keyframes B2 {
  12% {
    border-radius: 50%;
  }
  24% {
    background: #FF79DA;
  }
  25% {
    transform: rotate(90deg);
    background: #f6f6f6;
    border-radius: 0;
  }
  37% {
    border-radius: 50%;
  }
  49% {
    background: #f6f6f6;
  }
  50% {
    transform: rotate(180deg);
    background-color: #99E2D0;
    border-radius: 0;
  }
  62% {
    border-radius: 50%;
  }
  74% {
    background-color: #99E2D0;
  }
  75% {
    transform: rotate(270deg);
    background-color: #9356DC;
    border-radius: 0;
  }
  87% {
    border-radius: 50%;
  }
  99% {
    background-color: #9356DC;
  }
  100% {
    transform: rotate(360deg);
    background-color: #FF79DA;
    border-radius: 0;
  }
}
@keyframes B3 {
  12% {
    border-radius: 50%;
  }
  24% {
    background: #99E2D0;
  }
  25% {
    transform: rotate(90deg);
    background-color: #9356DC;
    border-radius: 0;
  }
  37% {
    border-radius: 50%;
  }
  49% {
    background-color: #9356DC;
  }
  50% {
    transform: rotate(180deg);
    background-color: #FF79DA;
    border-radius: 0;
  }
  62% {
    border-radius: 50%;
  }
  74% {
    background-color: #FF79DA;
  }
  75% {
    transform: rotate(270deg);
    background-color: #f6f6f6;
    border-radius: 0;
  }
  87% {
    border-radius: 50%;
  }
  99% {
    background-color: #f6f6f6;
  }
  100% {
    transform: rotate(360deg);
    background-color: #99E2D0;
    border-radius: 0;
  }
}
@keyframes B4 {
  12% {
    border-radius: 50%;
  }
  24% {
    background: #9356DC;
  }
  25% {
    transform: rotate(90deg);
    background-color: #FF79DA;
    border-radius: 0;
  }
  37% {
    border-radius: 50%;
  }
  49% {
    background-color: #FF79DA;
  }
  50% {
    transform: rotate(180deg);
    background-color: #f6f6f6;
    border-radius: 0;
  }
  62% {
    border-radius: 50%;
  }
  74% {
    background-color: #f6f6f6;
  }
  75% {
    transform: rotate(270deg);
    background-color: #99E2D0;
    border-radius: 0;
  }
  87% {
    border-radius: 50%;
  }
  99% {
    background-color: #99E2D0;
  }
  100% {
    transform: rotate(360deg);
    background-color: #9356DC;
    border-radius: 0;
  }
}
/*menu appear*/
@keyframes menu-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*heart-fill*/
@keyframes heart-fill {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
body, html {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

h6 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
  font-size: 1.2em;
}

h3 {
  font-size: 0.9em;
}

h5 {
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}
header .header__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
header .header__image .logo {
  height: 25px;
}
header .header_arrow {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot {
  height: 200px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
.foot__logo {
  display: flex;
  align-items: center;
  height: 35%;
  padding-left: 5%;
}
.foot__text {
  display: flex;
  flex-direction: column;
  height: 65%;
  color: white;
  gap: 5px;
  padding-left: 5%;
}
.foot__text__sub {
  display: flex;
  flex-direction: row;
}
.foot__text__icon {
  width: 25px;
}
.foot i {
  font-size: 0.8em;
}
.foot h6 {
  font-size: 1.1em;
  color: white;
}
.foot a {
  color: white;
}

footer {
  width: 100%;
}

/*Acceuil*/
.fnt {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .fnt {
    justify-content: center;
    align-items: center;
  }
}
.fnt__title {
  padding: 15px 15px 15px 20px;
}
@media screen and (min-width: 1024px) {
  .fnt__title {
    padding: 20px 20px 20px 10%;
  }
}
.fnt__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 15px;
}
@media screen and (min-width: 1024px) {
  .fnt__menu {
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.fnt__menu :hover {
  background-color: #f5edff;
  border-radius: 20px;
}
.fnt__menu :hover i {
  color: #9356dc;
}
.fnt__box {
  background-color: #f6f6f6;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.fnt__number {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #9356DC;
  color: white;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  margin: -10px;
}
.fnt .number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}
.fnt__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 75%;
}
.fnt__icon {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.fnt i {
  color: #7e7e7e;
}

/*Restaurant*/
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.menu p {
  margin: 0px;
  font-size: 0.8em;
}
.menu h4 {
  margin: 0px;
}
.menu__title {
  display: flex;
  align-items: center;
}
.menu__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 15px;
  padding-bottom: 20px;
}
.menu__content__head {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 4%;
  animation: menu-appear 1s forwards ease;
  transform-origin: right;
}
.menu__content__head__border {
  width: 40px;
  border-bottom: 4px solid #99e2d0;
}
.menu__content__plats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.menu__content__box {
  background-color: white;
  height: 70px;
  width: 95%;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  animation: menu-appear 1s forwards ease;
  transform-origin: left;
}
.menu__content__box:hover .menu__content__box__check {
  margin-right: 0px;
}
.menu__content__box:hover .menu__content__box__check .fa-solid {
  transform: rotate(0deg);
}
.menu__content__box__title {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__content__box__title h5 {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__content__box__title p {
  white-space: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__content__box__price {
  display: flex;
  align-items: flex-end;
  font-size: 0.9em;
  padding: 1rem;
  margin-left: auto;
  font-weight: bold;
}
.menu__content__box__check {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  margin-right: -50px;
  transition: margin-right 0.5s;
  /*animation*/
}
.menu__content__box__check .fa-solid {
  transform: rotate(180deg);
  transition: 1s;
}
.menu__button {
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__button__commander {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  height: 40px;
  width: 50%;
  border-radius: 20px;
  border: none;
  margin-top: -30px;
}

.rst {
  width: 100%;
  background-color: #f6f6f6;
  border-bottom: 40px solid #f6f6f6;
  display: flex;
  flex-direction: column;
}
.rst__title {
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 20px;
}
@media screen and (min-width: 1024px) {
  .rst__title {
    padding: 20px 20px 20px 10%;
  }
}
.rst__select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .rst__select {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.rst__select__box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 90%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
@media screen and (min-width: 1024px) {
  .rst__select__box {
    height: 200px;
    width: calc(50% - 20px);
  }
}
.rst__select__image {
  height: 70%;
  width: 100%;
}
.rst__select__pics {
  display: flex;
  flex: 1;
}
.rst__select__new {
  height: 20px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: #008766;
  font-weight: bold;
  font-size: 0.7em;
  border-radius: 2px;
  position: absolute;
  right: 5%;
  top: 6%;
  z-index: 1;
}
.rst__select__heart .fa-heart {
  font-size: 25px;
  position: absolute;
  right: 20px;
}
.rst__select__heart .far {
  opacity: 1;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}
.rst__select__heart .far:hover {
  opacity: 0;
}
.rst__select__heart .far:hover + .fas {
  opacity: 1;
  animation: heart-fill 0.3s linear both;
}
.rst__select__heart .fas {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  opacity: 0;
  transform-origin: 50% bottom;
}
.rst img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.rst__select__avis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
}
.rst__select__text {
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  margin-top: 10px;
  padding-left: 10px;
  gap: 3px;
}
.rst__select__text h3 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.rst__select__text p {
  margin: 0px;
  font-size: 1em;
}
.rst__select__heart {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  padding-right: 20px;
  width: auto;
}

.exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exp__heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
}
.exp .search {
  width: 100%;
  border: none;
  background-color: #eaeaea;
  margin: 0px;
  padding: 12px;
}
.exp input.text {
  font-family: FontAwesome, "Roboto";
  text-align: center;
  font-weight: bold;
}
.exp__booking {
  height: 220px;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exp__booking__h1 {
  display: flex;
  justify-content: center;
  width: 70%;
}
.exp__booking__p {
  display: flex;
  justify-content: center;
  width: 90%;
}
.exp h1 {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}
.exp p {
  font-size: 1em;
  text-align: center;
}
.exp__booking__button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.exp button {
  background: linear-gradient(#FF79DA, #9356DC);
  height: 35px;
  border-radius: 30px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
  border: none;
  font-size: 0.7em;
}

.Headpicture {
  height: 300px;
  width: 100%;
  position: relative;
}
.Headpicture img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.headtitle {
  width: 100%;
  height: 90px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  bottom: 0px;
}
.headtitle__text {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headtitle h6 {
  padding-left: 20px;
  font-size: 1.3em;
  margin: 0px;
}
.headtitle__heart {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

/*# sourceMappingURL=index.css.map */
