.foot{
height: 200px;
background-color: #353535;
display: flex;
flex-direction: column;


&__logo{
    display: flex;
    align-items: center;
    height: 35%;
    padding-left: 20px;
}

&__text{
    display: flex;
    flex-direction: column;
    height: 65%;
    color: white;
    gap: 5px;
    padding-left: 20px;
}

&__text__sub{
    display: flex;
    flex-direction: row;
}

&__text__icon{
    width: 25px;
}

i{
    font-size: 0.8em;
}

h6{
    font-size: 1.1em;
    color: white;
}

a{
    color: white;
}

}

footer{
    width: 100%;

}