header{

    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    
    .header__image{
        display: flex;
        align-items: center;
        justify-content: center;
        flex:1;
        .logo{
            height: 25px;
        }
    }



.header_arrow{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}


}