header{

    height: 50px;

    #header__image{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .logo{
        height: 25px;
    }
}

#section1-explorer{

    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;

    .exp__heading{
        
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eaeaea;
    }

    .exp__booking{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f6f6f6 ;
    }

    h1{
        padding-left: 5%;
        padding-right: 5%;
    }

    .exp__booking__button{
        display: flex;
        justify-content: center;
    }

    button{
        color: white;
        width: 50%;
        background-color: purple;
        font-size: 0,2em;
    }
    


}











    

























