/*Acceuil*/

.fnt{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;

    @media screen and (min-width: 1024px){
        justify-content: center;
        align-items: center;
    }


    &__title{

        padding: 15px 15px 15px 20px;

           @media screen and (min-width: 1024px){
           width: 100%;
           padding: 15px 15px 15px 20%;
    }
    }

    &__menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 15px;

        @media screen and (min-width: 1024px){
            width: 80%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        

        :hover{
            background-color: #f5edff;
            border-radius: 20px;
            i{
                color: #9356dc;
            }
        }

    
       }

    &__box{
        background-color: #f6f6f6;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    
    }

    &__number{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: $color-primary;
        color: white;
        height: 22px;
        width: 22px;
        border-radius: 50px;
        margin: -10px;    
    }

    .number{
        display: flex;
        align-items:center;
        justify-content: center ;
        font-size: 0.9em;
    }

    &__text{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 75%;

    }

    &__icon{
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 15px;


    }


    i{
        color:#7e7e7e ;
    }



}

/*Restaurant*/

.menu-responsive{
    width: 100%;

    @media screen and (min-width: 1024px){
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
}

.button-responsive{
    
    width: 100%;

    @media screen and (min-width: 1024px){
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
        
    }
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;

    @media screen and (min-width: 1024px){
        width: 80%;
        flex-direction: row;
        justify-content: center;
        
    }
 

p{
    margin: 0px;
    font-size: 0.8em;
}

h4{
    margin: 0px;
}

&__title{
    display: flex;
    align-items: center;
}

&__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 15px;
    padding-bottom: 20px;

} 


&__content__head{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 4%;
    animation: menu-appear 1s forwards ease;
    transform-origin: right;


}

&__content__head__border{
    width: 40px;
    border-bottom: 4px solid #99e2d0;

}

&__content__plats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    
}


&__content__box{
    background-color: white;
    height: 70px;
    width: 95%;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    @include shadow-light;
    animation: menu-appear 1s forwards ease;
    transform-origin: left;


    &:hover .menu__content__box__check {
        margin-right: 0px;
    }

    &:hover .menu__content__box__check .fa-solid{
       transform: rotate(0deg);
    }

}

&__content__box__title{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 1rem;
    @include text-ellipsis;

    h5{
        font-weight: bold;
        @include text-ellipsis;
    }

    p{
        white-space: nowrap;
        @include text-ellipsis;
    }

}


&__content__box__price{
    display: flex;
    align-items: flex-end;
    font-size: 0.9em;
    padding: 1rem;
    margin-left: auto;
    font-weight: bold;


}



&__content__box__check{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    margin-right: -50px;
    transition: margin-right 0.5s;

    /*animation*/


    .fa-solid {
        transform: rotate(180deg);
        transition: transform 0.5s ease-in-out;
    }
}



&__button{
    width: 100%;
    height: 100px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;

    @media screen and (min-width: 1024px){
        width: 80%;
        border-radius: 0 0 30px 30px;
        
    }


}

&__button__commander{
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    height: 40px;
    width: 50%;
    border-radius: 20px;
    border: none;
    margin-top: -30px;
    cursor: pointer;

    @media screen and (min-width: 1024px){
        width: 25%;
    
        
    }
}


}   



