/*Acceuil*/

.fnt{
    margin-top: 30px;
    margin-bottom: 40px;
    height: 300px;
    width: 100%;

    &__title{
        height: 10%;
        padding-left: 20px;
        margin-bottom: 15px;
    }

    &__menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: calc(90% - 15px);
        width: 100%;

        :hover{
            background-color: #f5edff;
            border-radius: 20px;
            i{
                color: #9356dc;
            }
        }
    
       }

    &__box{
        background-color: #f6f6f6;
        height: 25%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        


    
    }

    &__number{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: $color-primary;
        color: white;
        height: 22px;
        width: 22px;
        border-radius: 50px;
        margin: -10px;    
    }

    .number{
        display: flex;
        align-items:center;
        justify-content: center ;
        font-size: 0.9em;
    }

    &__text{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 75%;

    }

    &__icon{
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 15px;


    }


    i{
        color:#7e7e7e ;
    }



}

/*Restaurant*/



.menu{
    height: 950px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
 

p{
    margin: 0px;
    font-size: 0.8em;
}

h4{
    margin: 0px;
}

&__title{
    height: 100px;
    display: flex;
    align-items: center;
}

&__content{
    height: 33%;
    margin-bottom: 30px;

} 


&__content__head{
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;

}

&__content__head__border{
    width: 10%;
    border-bottom: 4px solid #99e2d0;

}

&__content__plats{

    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    
}


&__content__box{
    height: 33%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

&__content__box__title{

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    gap: 3px;

    h5{
        font-weight: bold;
    }



}

&__content__box__price{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 18px;
    padding-right: 15px;

    p{
        font-weight: bold;
    }
    

}

&__button{
    width: 100%;
    height: 100px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;


}

&__button__commander{
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    height: 40px;
    width: 50%;
    border-radius: 20px;
    border: none;
    margin-top: -30px;
}


}   



